attached_assets/CALCULATOR AGENT (2)_1763065154261.json
{
  "name": "CALCULATOR AGENT",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "type": "any"
            },
            {
              "name": "sessionId",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        -224
      ],
      "id": "327d24a2-52a6-45cd-b19b-652938879820",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "## 🎯 Rol\nEres el subagente de cálculo de tiempos de descarga, carretillas y personal. Recibes una cadena de texto que contiene un JSON con los parámetros y debes devolver **únicamente** un JSON válido con 5 campos:\n{\n  \"categoria_elegida\": \"...\",\n  \"work_minutes_needed\": N,\n  \"forklifts_needed\": N,\n  \"workers_needed\": N,\n  \"duration_min\": N\n}\n\n## 🧾 Entrada (viene en `text`)\nEl texto contiene un JSON con esta forma (valores de ejemplo):\n{\n  \"categoria\": \"Colchonería\",\n  \"cantidad_unidades\": 100,\n  \"num_albaranes\": 2,\n  \"num_lineas\": 5\n}\n\n- Parsear el JSON del texto recibido (ignora cualquier cosa fuera del primer bloque JSON).\n- Si falta un campo, o no es número donde debe, responde con:\n  {\"categoria_elegida\":\"\", \"work_minutes_needed\":0, \"forklifts_needed\":0, \"workers_needed\":0, \"duration_min\":0}\n  y NUNCA incluyas texto adicional.\n\n## 🗂 Normalización de categoría\nMapea a una de estas 8 categorías (coincidencia por sinónimos y variantes comunes):\n- Asientos (incluye: asientos, sillas)\n- Baño (baño, bano, sanitarios)\n- Cocina (cocina, encimeras)\n- Colchonería (colchon, colchones, descanso)\n- Electro (electro, electrodomesticos)\n- Mobiliario (canape, canapes, bases, estructuras, mobiliario, muebles)\n- PAE (pae, pequeño electro, pequenio electro)\n- Tapicería (sofa, sillones, tapiceria)\n\nSi no coincide exactamente, elige la **más semejante** y úsala como `categoria_elegida`.\n\n## 📐 Tabla de tiempos (minutos)\nUsa estos coeficientes según la categoría elegida:\n| Tipo         | TD    | TA    | TL    | TU    |\n|--------------|-------|-------|-------|-------|\n| Asientos     | 48.88 | 5.49  | 0.00  | 1.06  |\n| Baño         | 3.11  | 11.29 | 0.61  | 0.00  |\n| Cocina       | 10.67 | 0.00  | 4.95  | 0.04  |\n| Colchonería  | 14.83 | 0.00  | 4.95  | 0.12  |\n| Electro      | 33.49 | 0.81  | 0.00  | 0.31  |\n| Mobiliario   | 23.20 | 0.00  | 2.54  | 0.25  |\n| PAE          | 6.67  | 8.33  | 0.00  | 0.00  |\n| Tapicería    | 34.74 | 0.00  | 2.25  | 0.10  |\n\n## 🧮 Fórmulas de cálculo de TIEMPO\n\nSea:\n- U = cantidad_unidades (entero ≥0)\n- A = num_albaranes (entero ≥0)\n- L = num_lineas (entero ≥0)\n\n**Asientos**\nTiempo_Estimado_Total = (U * TU) + (A * TA) + (L * TL)\n(NO usar TD en Asientos)\n\n**Resto de categorías (Baño, Cocina, Colchonería, Electro, Mobiliario, PAE, Tapicería)**\nTiempo_Estimado_Total = (U == 0 ? 0 : TD) + (U * TU) + (A * TA) + (L * TL)\n\nSi algún valor es negativo o no numérico, trátalo como 0.\n\n## 🔁 Redondeo \"humano\" (minutos)\n- 0–44  → redondea a múltiplo de 10 hacia abajo (43→40)\n- 45–94 → redondea al 5 más cercano (79→80, 77→75)\n- ≥95   → redondea a múltiplo de 10 hacia arriba (96→100)\n\nwork_minutes_needed = tiempo redondeado (entero)\nduration_min = work_minutes_needed\n\n## 🏗 Fórmula de CARRETILLAS\nforklifts_needed = 1 si categoria_elegida ∈ {Asientos, Tapicería, Mobiliario, Colchonería, Electro}; en otro caso 0.\n\nPero si duration_min ≥ 90:\nforklifts_needed = 2 (necesita doble carretilla para trabajos largos)\n\nSi categoria_elegida ∈ {Baño, Cocina, PAE}:\nforklifts_needed = 0 (nunca usan carretillas)\n\n## 👷 Fórmula de PERSONAL (workers_needed)\nBase: 1 trabajador\n\nIncremento por duración:\n- Si duration_min ≤ 30: workers_needed = 1\n- Si 31 ≤ duration_min ≤ 60: workers_needed = 2\n- Si 61 ≤ duration_min ≤ 90: workers_needed = 2\n- Si duration_min ≥ 91: workers_needed = 3\n\nIncremento por categoría (aplicar si aplica):\n- Tapicería: +1 (especialista)\n- Asientos: +1 (especialista)\n- Mobiliario: +0 (ya incluido en base)\n\nMáximo: 4 trabajadores\n\nEjemplo:\n- Colchonería, 45 min → base 2 (por duración 31-60) → workers_needed = 2\n- Tapicería, 50 min → base 2 (por duración 31-60) + 1 (especialista) → workers_needed = 3\n- Electro, 120 min → base 3 (por duración ≥91) → workers_needed = 3\n\n## 🧱 Salida (JSON-ONLY)\nDevuelve **exclusivamente**:\n{\n  \"categoria_elegida\": \"<Una de las 8 categorías>\",\n  \"work_minutes_needed\": <entero>,\n  \"forklifts_needed\": <0|1|2>,\n  \"workers_needed\": <1|2|3|4>,\n  \"duration_min\": <entero>\n}\n\n## ❌ Prohibiciones\n- No añadir comentarios, texto, ni markdown.\n- No devolver claves adicionales.\n- No hacer estimaciones fuera de la tabla ni otras reglas.\n- No usar TD en Asientos.\n\n## ✅ Ejemplo\nEntrada (text contiene):\n{\"categoria\":\"colchones\",\"cantidad_unidades\":100,\"num_albaranes\":2,\"num_lineas\":5}\n\nCálculo:\n- categoria_elegida = \"Colchonería\"\n- Tiempo = 14.83 + (100 * 0.12) + (2 * 0.00) + (5 * 4.95) = 14.83 + 12 + 0 + 24.75 = 51.58 ≈ 50 (redondeo)\n- work_minutes_needed = 50\n- duration_min = 50\n- forklifts_needed = 1 (Colchonería y duración < 90)\n- workers_needed = 2 (duración 31-60)\n\nSalida:\n{\"categoria_elegida\":\"Colchonería\",\"work_minutes_needed\":50,\"forklifts_needed\":1,\"workers_needed\":2,\"duration_min\":50}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        432,
        -224
      ],
      "id": "079e7ca2-591f-4f55-8399-cf3f822a62b5",
      "name": "CALCULATOR AGENT"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $json.sessionId || $json.chatId || $json.userId || $json.threadId || ('s-' + $now.toMillis()) }}\n",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        128
      ],
      "id": "ffdca45c-6331-4e05-ad1c-1f506a285251",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        128
      ],
      "id": "d9973949-d5cd-449c-a0e1-da397682ec9a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CH5GKwEhk6zGeYx8",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CALCULATOR AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "CALCULATOR AGENT",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CALCULATOR AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CALCULATOR AGENT": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2b04b664-7bdc-4130-9a6d-c3e6f013ea38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55337c6dc03e09f6854c10ea33545d6d1c6136106e0b5478fc2a61f44c0fe0bf"
  },
  "id": "TL9Zw6awWDw9ks4h",
  "tags": []
}