attached_assets/Calendar_Manager (6)_1761799579946.json
{
  "name": "Calendar_Manager",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "type": "any"
            },
            {
              "name": "sessionId",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        0
      ],
      "id": "52ff2281-b4ca-44e2-b864-deb9defe42fe",
      "name": "When Executed by Another Workflow",
      "notesInFlow": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $json.sessionId || $json.chatId || $json.userId || $json.threadId || ('s-' + $now.toMillis()) }}\n",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        768,
        368
      ],
      "id": "ba5472b7-5e39-4b1d-8ebc-651551337ebb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        368
      ],
      "id": "b75adf3b-f1f6-4b06-958f-85e2a6509d09",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UAI23SJDGSquhpy5",
          "name": "Google Gemini(PaLM) Sofiane True"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "=## 1️⃣ Rol y Contexto\nEres el Subagente de Citas del almacén CHS (Muelle 1). Solo interactúas con Master_Almacen.\nRespondes ÚNICAMENTE con JSON válido, sin texto fuera del JSON.\n\n## 2️⃣ Entrada\nRecibirás en \"text\" un JSON con:\n- action: \"availability\" | \"book\"\n- from, to, duration_minutes (availability)\n- start, end, providerName, goodsType, units, lines, deliveryNotesCount, workMinutesNeeded, forkliftsNeeded (book)\n\n## 3️⃣ Availability\nDevuelve como mucho 3 slots en UTC:\n{\n  \"action\": \"availability\",\n  \"payload\": { \"slots\": [ { \"start\": \"ISO-UTC\", \"end\": \"ISO-UTC\" } ] }\n}\nSi no hay huecos:\n{ \"action\": \"error\", \"payload\": { \"message\": \"No hay disponibilidad en este día.\" } }\n\n## 4️⃣ Book\nUsa el API (nodos HTTP) para reservar.\nÉxito:\n{ \"action\": \"book\", \"payload\": { \"success\": true, \"start\": \"ISO-UTC\", \"end\": \"ISO-UTC\" } }\nConflicto tras reintentos:\n{ \"action\": \"error\", \"payload\": { \"message\": \"Conflicto de horario. Selecciona otro slot.\" } }\n\n## 5️⃣ Reglas\nSolo JSON. No inventes slots. No modifiques start/end recibidos. Horas en UTC aquí; el Master convierte a local. Memoria por sessionId. No hables con el usuario.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        576,
        -16
      ],
      "id": "9234c5f8-b7bb-4d6a-9126-6aa9a9bd47b7",
      "name": "Calendar_Manager"
    },
    {
      "parameters": {
        "jsCode": "// Parse robusto: acepta query (string) o objeto directo\nconst toNum = (v) => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : 0;\n};\n\nlet params = {};\n\n// 1) Si viene en $json.query como string JSON → parsea\nif (typeof $json.query === 'string' && $json.query.trim()) {\n  try {\n    // Intenta extraer el primer bloque JSON\n    const m = $json.query.match(/\\{[\\s\\S]*\\}/);\n    params = JSON.parse(m ? m[0] : $json.query);\n  } catch (e) {\n    // Si no se puede parsear, devolvemos error limpio\n    return [{ json: { action: \"error\", message: \"Invalid JSON in query\", raw: $json.query } }];\n  }\n// 2) Si no hay query string, asumimos que ya viene como objeto (como en tu caso)\n} else if (typeof $json === 'object' && $json !== null) {\n  params = { ...$json };\n} else {\n  return [{ json: { action: \"error\", message: \"No input provided\" } }];\n}\n\n// Normalización con defaults seguros\nconst out = {\n  action: (params.action || '').toString().trim(),       // \"availability\" | \"book\"\n  // availability\n  from: params.from || '',\n  to: params.to || '',\n  duration_minutes: toNum(params.duration_minutes),\n  // book\n  start: params.start || '',\n  end: params.end || '',\n  providerName: params.providerName || '',\n  goodsType: params.goodsType || '',\n  units: toNum(params.units),\n  lines: toNum(params.lines),\n  deliveryNotesCount: toNum(params.deliveryNotesCount),\n  workMinutesNeeded: toNum(params.workMinutesNeeded),\n  forkliftsNeeded: toNum(params.forkliftsNeeded),\n};\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "82f5da83-3e81-49ea-8840-26d9b8f38e5f",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5152faf-c833-4976-95ec-56f62e3ccb7c",
              "leftValue": "={{ $json.action }}",
              "rightValue": "availability",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        0
      ],
      "id": "291b3572-0821-4ca2-92a0-251f521f70d8",
      "name": "Check Action"
    },
    {
      "parameters": {
        "jsCode": "// Obtiene los parámetros\nconst fromDate = new Date($json.from);\nconst toDate = new Date($json.to);\nconst durationMinutes = $json.duration_minutes;\n\n// Horario del almacén (UTC)\n// 08:00 Madrid (invierno) = 07:00 UTC\n// 14:00 Madrid (invierno) = 13:00 UTC\nconst startHourUTC = 7;\nconst endHourUTC = 13;\n\n// Genera slots disponibles\nconst slots = [];\nlet currentDate = new Date(fromDate);\n\nwhile (currentDate <= toDate) {\n  // Solo días laborables (lunes a viernes)\n  const dayOfWeek = currentDate.getDay();\n  if (dayOfWeek >= 1 && dayOfWeek <= 5) {\n    \n    // Genera slots cada 30 minutos\n    for (let hour = startHourUTC; hour < endHourUTC; hour++) {\n      for (let minute = 0; minute < 60; minute += 30) {\n        const slotStart = new Date(currentDate);\n        slotStart.setUTCHours(hour, minute, 0, 0);\n        \n        const slotEnd = new Date(slotStart);\n        slotEnd.setUTCMinutes(slotEnd.getUTCMinutes() + durationMinutes);\n        \n        // Verifica que el slot termine antes de las 14:00 Madrid (13:00 UTC)\n        if (slotEnd.getUTCHours() <= endHourUTC) {\n          slots.push({\n            start: slotStart.toISOString(),\n            end: slotEnd.toISOString(),\n            startLocal: slotStart.toLocaleString('es-ES', { timeZone: 'Europe/Madrid' }),\n            endLocal: slotEnd.toLocaleString('es-ES', { timeZone: 'Europe/Madrid' })\n          });\n        }\n      }\n    }\n  }\n  \n  // Siguiente día\n  currentDate.setDate(currentDate.getDate() + 1);\n}\n\n// Devuelve los slots disponibles\nreturn [{\n  json: {\n    action: \"availability\",\n    slotsFound: slots.length,\n    slots: slots,\n    message: `Encontrados ${slots.length} slots disponibles entre ${fromDate.toISOString().split('T')[0]} y ${toDate.toISOString().split('T')[0]}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -208
      ],
      "id": "24ce30cb-a201-4bca-92db-a9695161a3d2",
      "name": "Search Slots"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://citaschs.replit.app/api/auth/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"email\": \"admin@example.com\",\n  \"password\": \"admin123\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        656
      ],
      "id": "d602257d-4d8d-491d-a976-6a2883568c25",
      "name": "JWT Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://citaschs.replit.app/api/integration/appointments/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "RAW/Custom",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        656
      ],
      "id": "2cc63a6c-556e-491e-8b22-f5ba331a5bd6",
      "name": "Upsert Appointment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c06a7ac0-f868-46f8-9309-a70c92abb44d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "409",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        656
      ],
      "id": "4ad6496e-3e24-4b39-86f7-1f66f6f926e2",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Obtiene el start original\nconst originalStart = new Date($('Parse Input').item.json.start);\nconst duration = $('Parse Input').item.json.workMinutesNeeded;\n\n// Suma 30 minutos\nconst newStart = new Date(originalStart);\nnewStart.setMinutes(newStart.getMinutes() + 30);\n\n// Calcula nuevo end\nconst newEnd = new Date(newStart);\nnewEnd.setMinutes(newEnd.getMinutes() + duration);\n\n// Devuelve los nuevos tiempos\nreturn [{\n  json: {\n    start: newStart.toISOString(),\n    end: newEnd.toISOString(),\n    providerName: $('Parse Input').item.json.providerName,\n    goodsType: $('Parse Input').item.json.goodsType,\n    units: $('Parse Input').item.json.units,\n    lines: $('Parse Input').item.json.lines,\n    deliveryNotesCount: $('Parse Input').item.json.deliveryNotesCount,\n    workMinutesNeeded: $('Parse Input').item.json.workMinutesNeeded,\n    forkliftsNeeded: $('Parse Input').item.json.forkliftsNeeded,\n    attempt: 2\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        400
      ],
      "id": "7f7d3eef-5c9b-43ee-8341-e516150bd64d",
      "name": "Add 30 Minutes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88f15d2a-6e1f-4cac-b1c5-ad8db08fb39c",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "409",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        400
      ],
      "id": "91efe46f-52f7-4b8d-bccf-10463bfc8b34",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Obtiene el start del retry anterior\nconst previousStart = new Date($json.start); // ← Cambio aquí\nconst duration = $json.workMinutesNeeded; // ← Cambio aquí\n\n// Suma 30 minutos\nconst newStart = new Date(previousStart);\nnewStart.setMinutes(newStart.getMinutes() + 30);\n\n// Calcula nuevo end\nconst newEnd = new Date(newStart);\nnewEnd.setMinutes(newEnd.getMinutes() + duration);\n\n// Devuelve los nuevos tiempos\nreturn [{\n  json: {\n    start: newStart.toISOString(),\n    end: newEnd.toISOString(),\n    providerName: $json.providerName,\n    goodsType: $json.goodsType,\n    units: $json.units,\n    lines: $json.lines,\n    deliveryNotesCount: $json.deliveryNotesCount,\n    workMinutesNeeded: $json.workMinutesNeeded,\n    forkliftsNeeded: $json.forkliftsNeeded,\n    attempt: 3\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        224
      ],
      "id": "6a16852e-fd57-44a0-b48c-14823fbddbec",
      "name": "Add 30 Minutes Retry 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb1c19ad-ee63-4760-a653-86fca4550e35",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": "409",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2496,
        224
      ],
      "id": "88f56486-0e53-4bbb-8fff-1ee83bde4d12",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: false,\n    message: \"No se encontró disponibilidad. Todos los intentos resultaron en conflictos de horario. Por favor, elige otro día u horario.\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        -64
      ],
      "id": "f9aecb01-1dea-472e-a506-12bb70b3c8ae",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const start = new Date($json.start || $('Parse Input').item.json.start);\nconst end = new Date($json.end || $('Parse Input').item.json.end);\nconst provider = $json.providerName || $('Parse Input').item.json.providerName;\n\nreturn [{\n  json: {\n    success: true,\n    message: `✅ Cita confirmada para ${provider}\\n\\n` +\n             `📅 Fecha: ${start.toLocaleDateString('es-ES', { timeZone: 'Europe/Madrid', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}\\n` +\n             `⏰ Hora: ${start.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour: '2-digit', minute: '2-digit' })} - ${end.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour: '2-digit', minute: '2-digit' })}\\n\\n` +\n             `Por favor, confirma que has recibido esta información.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        368
      ],
      "id": "ca18baa9-582b-42a1-a472-11dbac011f0c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://citaschs.replit.app/api/integration/appointments/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "RAW/Custom",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        400
      ],
      "id": "b1137bce-fae7-4dec-b9bf-2f418acacc03",
      "name": "Upsert Retry 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://citaschs.replit.app/api/integration/appointments/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "RAW/Custom",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        224
      ],
      "id": "5c646c6a-cb3f-48cc-93c4-6a09e901133e",
      "name": "Upsert Retry 3"
    },
    {
      "parameters": {
        "jsCode": "const start = new Date($json.start || $('Parse Input').item.json.start);\nconst end = new Date($json.end || $('Parse Input').item.json.end);\nconst provider = $json.providerName || $('Parse Input').item.json.providerName;\n\nreturn [{\n  json: {\n    success: true,\n    message: `✅ Cita confirmada para ${provider}\\n\\n` +\n             `📅 Fecha: ${start.toLocaleDateString('es-ES', { timeZone: 'Europe/Madrid', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}\\n` +\n             `⏰ Hora: ${start.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour: '2-digit', minute: '2-digit' })} - ${end.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour: '2-digit', minute: '2-digit' })}\\n\\n` +\n             `Por favor, confirma que has recibido esta información.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        512
      ],
      "id": "5e36731c-f9c1-417b-a894-9968a0ad4013",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const start = new Date($json.start || $('Parse Input').item.json.start);\nconst end = new Date($json.end || $('Parse Input').item.json.end);\nconst provider = $json.providerName || $('Parse Input').item.json.providerName;\n\nreturn [{\n  json: {\n    success: true,\n    message: `✅ Cita confirmada para ${provider}\\n\\n` +\n             `📅 Fecha: ${start.toLocaleDateString('es-ES', { timeZone: 'Europe/Madrid', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}\\n` +\n             `⏰ Hora: ${start.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour: '2-digit', minute: '2-digit' })} - ${end.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour: '2-digit', minute: '2-digit' })}\\n\\n` +\n             `Por favor, confirma que has recibido esta información.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        880
      ],
      "id": "e1ee3005-d7cc-4651-9311-ab478e23894b",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "// Build Body — toma datos del item actual y, si faltan, del nodo \"Parse Input\".\n// Así garantizamos que providerName/start/end nunca vayan vacíos.\n\nconst src = $json;\nconst fallback = (typeof $('Parse Input')?.item?.json === 'object' && $('Parse Input').item.json) || {};\n\nconst pickStr = (k) => {\n  const v = src[k] ?? fallback[k];\n  return (v === undefined || v === null) ? '' : String(v);\n};\n\nconst pickNum = (k) => {\n  const v = src[k] ?? fallback[k];\n  const n = Number(v);\n  return Number.isFinite(n) ? n : 0;\n};\n\nreturn [{\n  json: {\n    externalRef: 'n8n-' + $now.toISODate() + '-' + Math.random().toString(36).slice(2,6),\n    providerName: pickStr('providerName'),\n    goodsType: pickStr('goodsType'),\n    start: pickStr('start'),\n    end: pickStr('end'),\n    workMinutesNeeded: pickNum('workMinutesNeeded'),\n    forkliftsNeeded: pickNum('forkliftsNeeded'),\n    units: pickNum('units'),\n    lines: pickNum('lines'),\n    deliveryNotesCount: pickNum('deliveryNotesCount'),\n    source: 'n8n',\n    // opcional: sube el token al mismo item para que el HTTP no tenga que referenciar nodos por nombre\n    token: $('JWT Token').item.json.token\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        656
      ],
      "id": "1be769af-7fbd-4b7d-90e1-27c50347bb8d",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "// Build Body\nreturn [{\n  json: {\n    externalRef: 'n8n-' + $now.toISODate() + '-' + Math.random().toString(36).slice(2,6),\n    providerName: $json.providerName ?? '',\n    goodsType: $json.goodsType ?? '',\n    start: $json.start ?? '',\n    end: $json.end ?? '',\n    workMinutesNeeded: Number($json.workMinutesNeeded ?? 0),\n    forkliftsNeeded: Number($json.forkliftsNeeded ?? 0),\n    units: Number($json.units ?? 0),\n    lines: Number($json.lines ?? 0),\n    deliveryNotesCount: Number($json.deliveryNotesCount ?? 0),\n    source: 'n8n'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        400
      ],
      "id": "3ffc2d87-421e-4666-81c5-47d5b8a9aae3",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "// Build Body\nreturn [{\n  json: {\n    externalRef: 'n8n-' + $now.toISODate() + '-' + Math.random().toString(36).slice(2,6),\n    providerName: $json.providerName ?? '',\n    goodsType: $json.goodsType ?? '',\n    start: $json.start ?? '',\n    end: $json.end ?? '',\n    workMinutesNeeded: Number($json.workMinutesNeeded ?? 0),\n    forkliftsNeeded: Number($json.forkliftsNeeded ?? 0),\n    units: Number($json.units ?? 0),\n    lines: Number($json.lines ?? 0),\n    deliveryNotesCount: Number($json.deliveryNotesCount ?? 0),\n    source: 'n8n'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        224
      ],
      "id": "e1d4e371-4578-4ce7-a531-12ab7ebf1309",
      "name": "Code in JavaScript6"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Calendar_Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar_Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Check Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action": {
      "main": [
        [
          {
            "node": "Calendar_Manager",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Slots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JWT Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Token": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Appointment": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add 30 Minutes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add 30 Minutes": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Add 30 Minutes Retry 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add 30 Minutes Retry 2": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Upsert Retry 1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Retry 3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Upsert Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Upsert Retry 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Upsert Retry 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "42365fbe-5482-41bb-969c-88752905f6c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55337c6dc03e09f6854c10ea33545d6d1c6136106e0b5478fc2a61f44c0fe0bf"
  },
  "id": "hdZAMty44n3NltwB",
  "tags": []
}